.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
fixtures/Example1/tuist-generate-package-swift
fixtures/Example1/Package.swift
PackageSwiftGenerator.tuist-plugin.zip
